@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
  width: 375px;
  margin: auto;
  background: #f7f7f9;
}

.mobile-skeleton {
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: url("images/headline.png");
  background-color: #fff;
  margin: 20px auto 0;
  border-bottom-left-radius: 75px;
  background-size: 100% 587.15px;
  background-repeat: no-repeat;
  background-position: right 104px;
}
.desktop-container { display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-container li {
  list-style-type: none;
  margin: 36px;
}

.logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 24px;
}

.logo:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.main {
  position: absolute;
  top: 206px;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.main > * {
  display: flex;
  height: 150px;
  align-items: center;
  margin: 0 24px;
  margin-bottom: 30px;
}

.main > *:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.intro {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 150px;
  margin: 24px;
}

.pitch {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  height: 146px;
  top: 368px;
}

.breaker { display: none; }
.tablet-break { display: none; }

.connect a {
  color: #7f8cff;
  margin-left: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  font-weight: 500;
  flex-grow: 0;
  position: absolute;
  top: 546px;
  text-decoration: none;
  width: 117px;
  line-height: 24px;
}

.contacts ul {
  display: flex;
  margin-left: 24px;
  margin-top: 5px;
  width: 170.17px;
  position: absolute;
  top: 565px;
  list-style-type: none;
  align-items: baseline;
}

.first { margin: 10px 10px; }
.second { margin: 10px 0; }

/**************
  Works/about
**************/

.works-sect {
  width: 375px;
  height: 2788px;
  left: 0;
  top: 718px;
  background: #e5e5e5;
  background-color: #fff;
  margin: 0 auto 0;
}
.desktop-img {
  display: none;
}

.project1 { margin-top: 114px; }

.projects {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: rgb(243, 243, 243);
}

.oneProject {
  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background-color: #fff;
  margin-bottom: 88px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.tonic {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.tonic:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.description { display: flex; }

.description ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 200px;
  margin-top: -5px;
}

.description a {
  text-decoration: none;
  font-size: 13px;
  color: #7a869a;
}

.desktop-dev {
  display: none;
}

.text-sect {
  width: 295px;
  height: 76px;
}

.text-sect:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.text-description {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.languages ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.ruby {
  display: none;
}

.languages a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-weight: 500;
  width: 29px;
  height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.languages li { margin: 12px; }

.see_project {
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
}

.see_project:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.project_multi-stories { height: 596px; }

.multi_stories {
  width: 295px;
  height: 80px;
}

a:hover { text-decoration: underline; }
.main-img:hover { border: 1px #396df2 solid; }
.project4 { margin-bottom: 114px; }

.about-sect {
  width: 375px;
  height: 1165px;
  left: 0;
  background: #e5e5e5;
  background-color: #fff;
  margin: 0 auto;
  border-top-right-radius: 75px;
  display: flex;
  flex-direction: column;
}

.about { margin-top: 114px; }
.about-intro { height: 101px; }
.about-pitch { margin-left: 24px; }

.about-connect a {
  margin-left: 24px;
  color: #7f8cff;
  height: 24px;
  font-size: 16px;
  display: flex;
  font-weight: 500;
  flex-grow: 0;
  position: absolute;
  text-decoration: none;
  width: 117px;
}

.about > *:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.descript {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 10px;
}

.descript-desktop {
  display: none;
}

.connect a:hover { text-decoration: underline; }

.about-contacts ul {
  display: flex;
  margin-top: 26px;
  margin-left: 24px;
  width: 170.17px;
  position: absolute;
  list-style-type: none;
  align-items: baseline;
}

.about-btn { margin: 80px 24px 50px; }

.abilities-section {
  display: flex;
  flex-direction: column;
}

.abilities-intro {
  display: flex;
  margin-left: 36px;
  margin-right: 36px;
}

.abilities-intro:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.abilities-intro h4 {
  width: 237px;
  height: 24px;
  margin-right: 25px;
}

.frames { margin-bottom: 48px; }
.frames h4 { margin-right: 35px; }
.skills h4 { margin-right: 35px; }

.abilities-section ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin: 36px;
}

.abilities-section li {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  margin-bottom: 33.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 9px 0 9.72px 12px;
}

.abilities-section li:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.abilities-section img { margin-right: 16px; }
.about-connect a:hover { text-decoration: underline; }

.description li a:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.line:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.contact-info {
  width: 375px;
  height: 1002px;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-bottom: 50px;
}

.contacts-sect {
  background: #6070ff;
  height: 900px;
  border-top-left-radius: 120px;
  margin-top: 103px;
}

.bg-image {
  margin-top: 50px;
  width: 375px;
  height: 800px;
}

.contact-intro {
  position: absolute;
  top: 4940px;
  display: flex;
  flex-direction: column;
  margin-bottom: 67px;
}

.desktop-head { display: none; }

.contact-intro h2 {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-intro .pitch {
  width: 327px;
  height: 102px;
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin: 24px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5150px;
}

label {
  position: absolute;
  left: -99999px;
}

.contact-form input {
  display: flex;
  flex-direction: column;
  width: 307px;
  height: 38px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 7px;
}

input:focus {
  outline: none;
  border: 2px solid #396df2;
}

.contact-form textarea {
  width: 307px;
  height: 170px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  padding: 7px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-right: 24px;
}

.touch {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 48px;
  margin-top: 22px;
  border-radius: 7px;
  background: white;
  font-size: 17px;
  padding: 12px 16px;
  font-weight: 500;
  line-height: 24px;
  color: #6070ff;
  border: 1px white solid;
}

.contact-intro h2:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

.contact-intro p:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

textarea:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

.touch:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

.contact-form input:hover {
  text-decoration: underline;
  text-decoration-color: #396df2;
  text-decoration-thickness: 2px;
}

.contact-form textarea:focus {
  outline: none;
  border: 2px solid #396df2;
}

.dash {
  display: flex;
  margin: 10px auto 0;
}

/*************
Desktop Version
*************/
@media screen and (min-width: 768px) {
  main { width: 90%; }

  .mobile-skeleton {
    width: 100%;
    height: 616px;
    background: url("images/desktop-header.png");
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: right 104px;
  }
  .header-container {
    display: none;
  }

  .header {
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
  }
  .desktop-container {
    display: flex;
    margin-right: 80px;
  }

  .desktop-container { list-style-type: none; }
  .desktop-container a { text-decoration: none; }
  .desktop-container a:hover {
    text-decoration: underline;
    text-decoration-color: #396df2;
    text-decoration-thickness: 2px;
  }
  .desktop-container li {
    margin: 32px;
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
  }

  .main {
    position: absolute;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 12.9%;
    margin-right: 12.9%;
  }  

  .main > * {
    display: flex;
    height: 150px;
    align-items: center;
    margin: 0 24px;
    margin-bottom: 30px;
  }
  
  .intro {
    width: 97.5%;
    height: 98px;
    font-size: 48px;
    color: #091e42;
    line-height: 60px;
    margin-bottom: 8px;
   }

  .breaker { display: none; }
  .mobile-break { display: none; }

  .pitch {
    width: 97.5%;
    height: 98px;
    line-height: 28px;
  }

  .connect a {
    color: #7f8cff;
    margin-top: -100px;
    margin-left: 13.8%;
  }

  .contacts ul {
    margin-top: -100px;
    margin-left: 12.9%;
  }

  /*************
  Works Section
*************/

  .works-sect {
    width: 100%;
    height: 2552px;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .oneProject {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    height: 366px;
  }

  .articles {
    display: flex;
    justify-content: space-around;
  }
  .project3 .descript-desktop {
    display: block;
    color: #344563;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-right: 10px;
  }
  .project3 .description {
    width: 400px;
  }
  .project3 .descript {
    display: none;
  }
  .project3 .ruby {
    display: block;
  }

 

  .article-reverse {
    flex-direction: row-reverse;
  }
  .article-one { width: 40%; }

  .article-two {
    width: 50%;
    margin-left: 20px;
  }

  .main-img { display: none; }

  .desktop-img {
    display: block;
    width: 260px;
    height: 260px;
    margin-left: -10px;
  }
  .project3 .tonic {
    display: none;
  }
  .project3 .desktop-head {
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
    color: #172b4d;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
  }
.project3 .see_project {
  background: #4053FC;
  color: white;
}
 
  
  .desktop-head:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
  }

  .project3 .desktop-dev {
    display: inline;
    margin-left: -30px;
  }
  .project3 .mobile-dev {
    display: none;
  }
  .tonic {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .text-description {
    font-size: 13px;
    margin-top: 20px;
  }

  .see_project {
    padding: 10px 20px;
    font-size: 17px;
  }
  .languages ul {
    width: 10%;
  }
  .project4 .article-one {
    width: 40%;
  }
  .project4 .article-two {
    width: 40%;
  }
  .text-description {
    height: 70px;
  }

} 




  

@media screen and (min-width: 1024px) {
  .mobile-skeleton {
    height: 766px;
  }
  .oneProject {
    width: 80%;
  }

  .article-two {
    width: 60%;
    margin-top: 20px;
  }

  .tonic { margin-bottom: 20px; }

  .desktop-img {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: 0;
  }

  .languages ul {
    /* margin-top: -20px; */
    /* width: 400px; */
    display: flex;
    justify-content: space-around;
  }

  .languages li {
    margin-right: 0;
  }
  .languages a {
    font-size: 10px;
  }

  .text-description { width: 400px; }
  .see_project { margin-top: 20px; }
}
